@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap");

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue : hsl(217, 54%, 11%); /*(main BG)*/
    --Very-dark-blue2 : hsl(216, 50%, 16%); /*(card BG)*/
    --Very-dark-blue3 : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Outfit",sans-serif;
    background: var(--Very-dark-blue);
}

article{
    margin: 4% 0;
    max-width: 22rem;
    height: max-content;
    border-radius: 2%;
    background: var(--Very-dark-blue2);
}

img{
    display: block;
    width: 100%;
    height: 38vh;
    object-fit:cover;
}


.top{
    color: var(--Very-dark-blue);
    padding: 5%;
    border-radius: 5%;
}

.img-overlay{
    padding: 0;
}

.NFT-img{
    border-radius: 3%;
    margin-bottom: 10%;
}

img-overlay>* {
    grid-area: main;
}

.img-overlay>.eye-icon {
    z-index: 0;
}

.NFT-img:hover {
    opacity: 0.5;
    background-color: var(--Cyan);
}

.img-overlay:is(:hover, :focus)>.eye-icon {
    z-index: 1;
}

.eye-icon{
    display: none;
}

h1{
    font-family: "Outfit",sans-serif;
    color: white;
    margin-bottom: 10%;
}

h1:hover{
    color: var(--Cyan);
}

.desc{
    padding-right: 10%;
    font-family: inherit;
    color: var(--Soft-blue);
    line-height: 1.5rem;
    margin-bottom: 1%;
}

.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 5%;
}

.svg {
    width: 15px;
    height: auto;
}

.svg2{
    width: 20px;
    height: auto;
}

.price{
    color: var(--Cyan);
    margin-right: auto;
}

.time{
    color: var(--Soft-blue);
}

.bottom{
    padding: 5% 6%;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: flex-start;
    align-items: center;
    font-family: "Outfit",sans-serif;
    letter-spacing: 0.02rem;
}

.line{
    border-top: 1px solid var(--Soft-blue);
    margin: 5% 5% 0 5%;
}

.owner-img{
    width: 12%;
    height: auto;
    border: 2px solid var(--Soft-blue);
    border-radius: 50%;
}

.last-line{
    color: var(--Soft-blue);
}

.spann{
    color: white;
}

.spann:hover{
    color: var(--Cyan);
}